*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.tmp/


node_modules
www
.idea
.sass-cache
coverage
platforms
plugins
*.swp
*.swo
*.log
.tmp/*
# src/providers/firebase/config.ts

