page-match-list {
  .scroll-content {
    background: #EDEDED;
  }

  .match-card {
    height: 100%;
    display: flex;
    flex-direction: column;

    ion-card-content {
      flex: 1 1 auto;
    }
  }

  // Todo: remove when this issue https://github.com/ionic-team/ionic/issues/11212 is fixed
  @media(min-width: 769px) {
    .match-card {
      height: 370px;
    }
  }

  .match-card ion-card-header .item {
    padding: 4px 16px;
  }

  .match-card ion-card-content {
    padding-left: 0;
    padding-right: 0;
  }
}

.icon {
  display: inline-block;
  vertical-align: middle;
}
.icontext {
  display: inline;
  vertical-align: -10px;
}


$categories: (
 joined: #AC282B,
 full: #8E8D93,
 available: #69BB7B,
 hosted: #3BC7C4,
);


@function auxiliary-categories() {
  @return map-remove($categories);
}

page-match-list {
  @each $state, $value in auxiliary-categories()  {
   ion-item[state=#{$state}] {
      margin: 10px;
      padding-left: 0px;
      border-left: 8px solid $value;
   }
  }
}

$sports : (
  "basketball",
  "tennis",
  "table-tennis",
  "football",
  "squash"
);

.card-background-page {
  
  ion-card {
    margin: 0px;
    position: relative;
    text-align: center;
    height: 180px;
  }
  img {
    height: 100%;
  }
  .card-text {
    .card-title {
      position: absolute;
      background: linear-gradient(to right,rgba(#888, 0.0), rgba(#222, 0.9) 0.5, rgba(#888, 0.0));
      height: 82%;
      top: 8%;
      font-size: 2.0em;
      width: 80%;
      padding-top: 1%;
      margin-left: 10%;
      margin-right:10%;
      text-align: center;
      align-self: center;  
      font-weight: bold;
      color: #fff;
      animation: marquee 5s linear infinite;
    }

    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      width: 80%;
      height: 100%;
      margin-left: 10%;
      margin-right: 10%;
      color: #fff;
      &.sport{
        top: 40%
      }
      &.location {
        top: 52%;
      }
      &.date {
        top: 64%;
      }
      &.time {
        top: 76%;
      }
      ion-icon {
        margin-right:5px;
      }
    }
    .card-subtitle2 .date {
      font-size: 1.0em;
      position: absolute;
      top: 70%;
      width: 100%;
      color: #fff;
      
    }
  }

}

.label {
  margin: 2px;
}